
{% extends "base_generic.html" %}

{% block content %}
  <div class="filter"><form action="" method="get">
    {{ filterset.form.as_p }}
    <input type="submit" value="Buscar" />
  </form>
  </div>
  {% if projeto_list %}
    {% for projeto in projeto_list %}
      <div class="projeto">
          <p class="p_info">{{projeto.natureza}} {{projeto.numero_legislativo}}/{{projeto.ano_legislativo}}</p>
          <p class="p_nome"><a href="{{ projeto.arquivo_url }}" target="_blank">{{ projeto.nome }}</a></p>
          <p class="p_autor">({{projeto.autor.all|join:" ,"}})</p>
          <p class="p_tema">{{projeto.tema.all|join:", "}} - {{projeto.cidade}}/{{projeto.uf}}</p>
          <p class="p_ementa">Ementa: {{projeto.ementa}}</p>
          <hr />
      </div>
    {% endfor %}
  {% else %}
    <p>Não existem projetos cadastrados.</p>
  {% endif %} 

  {% endblock %}