
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{% block title %}Mandato Marina Helou{% endblock %}</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style>
        body {
            background-color: #FFFFFF;
            color: rgb(149, 149, 149);
        }
    
        article {
            margin:0 auto;
            width:60%;
            font-size:19px;
            font-family: Karla;
        }
    
        h1, h2, strong { 
            color: #9D2153;
        }
        a, a:visited {
            color: rgb(77, 209, 186);
        }
    
        a:hover {
            color: rgb(77, 209, 186);
        }

    
    </style>
        {% block style %}
        {% endblock %}
    </head>
    
    <body>
    
    <article>
    {% block content %}
    {% endblock %}
    {% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">anterior</a>
                {% endif %}
                <span class="page-current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">próxima</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
    {% endblock %}
    </article>
    
    </body>
    </html>
    